config.log
debian/ganeti.debhelper.log
debian/ganeti.debhelper.log
debian/ganeti2.debhelper.log
debian/ganeti2.debhelper.log
debian/ganeti-2.10.debhelper.log
debian/ganeti-2.10.debhelper.log
debian/ganeti-doc.debhelper.log
debian/ganeti-doc.debhelper.log
debian/ganeti-haskell.debhelper.log
debian/ganeti-haskell.debhelper.log
debian/ganeti-haskell-2.10.debhelper.log
debian/ganeti-haskell-2.10.debhelper.log
debian/ganeti-htools.debhelper.log
debian/ganeti-htools.debhelper.log
debian/ganeti-htools-2.10.debhelper.log
debian/ganeti-htools-2.10.debhelper.log
debian/ganeti
debian/ganeti2
debian/ganeti-2.10
debian/ganeti-htools
debian/ganeti-htools-2.10
debian/ganeti-doc
debian/ganeti-haskell
debian/tmp
src
man
Makefile
autotools/replace_vars.sed
autotools/shell-env-init
config.status
daemons
debian/files
debian/ganeti-2.10.postinst.debhelper
debian/ganeti-2.10.postrm.debhelper
debian/ganeti-2.10.prerm.debhelper
debian/ganeti-2.10.substvars
debian/ganeti-doc.substvars
debian/ganeti-haskell-2.10.postrm.debhelper
debian/ganeti-haskell-2.10.substvars
debian/ganeti-haskell-2.10/
debian/ganeti-htools-2.10.postrm.debhelper
debian/ganeti-htools-2.10.substvars
debian/ganeti-htools.substvars
debian/ganeti.cron.d
debian/ganeti.default
debian/ganeti.init
debian/ganeti.postinst
debian/ganeti.postinst.debhelper
debian/ganeti.postrm
debian/ganeti.postrm.debhelper
debian/ganeti.prerm.debhelper
debian/ganeti.substvars
debian/ganeti2.substvars
debian/python-ganeti-rapi.debhelper.log
debian/python-ganeti-rapi.postinst.debhelper
debian/python-ganeti-rapi.prerm.debhelper
debian/python-ganeti-rapi.substvars
debian/python-ganeti-rapi
doc/examples/bash_completion
doc/examples/bash_completion-debug
doc/examples/ganeti-kvm-poweroff.initd
doc/examples/ganeti-master-role.ocf
doc/examples/ganeti-node-role.ocf
doc/examples/ganeti.cron
doc/examples/ganeti.initd
doc/examples/ganeti.logrotate
doc/examples/gnt-config-backup
doc/examples/hooks/ipsec
doc/html.orig
doc/html/_images
doc/html
doc/html/_static/pygments.css
doc/html/rapi.html
doc/html/searchindex.js
doc/users/groupmemberships
doc/users/groups
doc/users/users
ganeti
lib/_constants.py
lib/_generated_rpc.py
lib/_vcsversion.py
lib/opcodes.py
scripts
stamp-directories
stamp-srclinks
test/hs/Test/Ganeti/TestImports.hs
tools/ensure-dirs
tools/kvm-ifup
tools/net-common
tools/node-cleanup
tools/node-daemon-setup
tools/prepare-node-join
tools/users-setup
tools/vcluster-setup
tools/vif-ganeti

