config.log
debian/ganeti.debhelper.log
debian/ganeti.debhelper.log
debian/ganeti2.debhelper.log
debian/ganeti2.debhelper.log
debian/ganeti-2.10.debhelper.log
debian/ganeti-2.10.debhelper.log
debian/ganeti-doc.debhelper.log
debian/ganeti-doc.debhelper.log
debian/ganeti-haskell.debhelper.log
debian/ganeti-haskell.debhelper.log
debian/ganeti-haskell-2.10.debhelper.log
debian/ganeti-haskell-2.10.debhelper.log
debian/ganeti-htools.debhelper.log
debian/ganeti-htools.debhelper.log
debian/ganeti-htools-2.10.debhelper.log
debian/ganeti-htools-2.10.debhelper.log
debian/ganeti
debian/ganeti2
debian/ganeti-2.10
debian/ganeti-htools
debian/ganeti-htools-2.10
debian/ganeti-doc
debian/ganeti-haskell
debian/tmp

